<footer class="footer">
    <div id="contact_us">
  <nav>
    <ul>
      <h5>Contact Us</h5>
      <br><input type="text" name="Name" placeholder="Name"></br>
      <input type="email" name="Email" placeholder="Email">
      <br><textarea required="" placeholder="Message" id="comments" name="comments"></textarea></br>
      <button name="send" type="send" >Send</button>
      <small>
      <br><li>Tel: 0123456789</li></br>
      <li>Fax: 0123456</li>
      <br><li>example@rmit.edu.au</li></br>
      </small>
    </ul>
  </nav>
  </div>
  
   <div id="general_inquiries">
  <nav>
    <ul>
      <h5>General Inquiries</h5>
      <br><li><a href="https://https://www.rmit.edu.au/contact/staff-contacts/academic-staff/s/song-dr-andy/">Andy Song</a></li></br>
      <li>Junliang Jiang</li>
      <br><li>Ali</li></br>
    </ul>
  </nav>
  </div>
  <div id="useful_links">
  <nav>
    <ul>
      <h5>Useful Links</h5>
      <br><li><a href="https://www.rmit.edu.au/students/student-essentials/program-and-course-information/">RMIT Course</a></li></br>
      <li><a href="https://www.rmit.edu.au/students/support-and-facilities/it-services-for-students/service-and-support-centre/">RMIT Help Desk</a></li>
      <br><li><a href="https://www.rmit.edu.au/study-with-us/international-students/">RMIT International</a></li></br>
    </ul>
  </nav>
  </div>
  
 
  <div id="media">
  <nav>
    <ul>
      <h5>Media</h5>
      <br><li><a href="http://www.youtube.com/">Youtube</a></li></br>
      <li><a href="http://www.twitter.com/">Twitter</a></li>
      <br><li><a href="http://www.facebook.com/">Facebook</a></li></br>
      <li><a href="http://www.instagram.com/">Instagram</a></li>
      <br><li><a href="http://www.skype.com/">Skype</a></li></br>
    </ul>
  </nav>
  </div>
  
</footer>